<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% render 'partials/head.liquid' %}
    <title>Builder6</title>
</head>
<body class="bg-black text-white font-sans antialiased selection:bg-blue-500 selection:text-white min-h-screen flex flex-col">

    {% render 'partials/header.liquid', is_editor: false, user: user %}
    {% render 'partials/notifications.liquid' %}

    <main class="flex-1">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
